.card {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    width: 200px; /* Ensure it fills the column */
    height: 215px; /* Set a fixed height for uniformity */
    margin-bottom: 20px;
  }

  .badgeCardContainer {
    display: flex;
    flex-direction: row;
    margin-left: 20px; /* Adjust the space between inputs and cards */
    width: 50%;
    justify-content: left;
  }
  
  .section {
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
    width: 100%;
  }
  
  .like {
    color: var(--mantine-color-red-6);
    width: rem(20px);
    height: rem(20px);
  }
  
  .label {
    text-transform: uppercase;
    font-size: var(--mantine-font-size-xs);
    font-weight: 700;
  }

  .text {
    font-size: 1.2rem; /* Adjust size */
    font-weight: bold; /* Make it bold */
    color: #333; /* Text color */
    text-align: center; /* Center align */
    /* Add any other styles you want */
  }