.header {
    padding-top: rem(20px); /* Reduced padding */
    padding-bottom: rem(10px); /* Reduced padding */
    background-color: white;
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-2), transparent);
    margin-bottom: rem(-20px); /* Reduced bottom margin */
    margin-top: rem(-20px); /* Reduced bottom margin */
    width: 100%; /* Ensure full width */
}

.mainSection {
  padding-bottom: var(--mantine-spacing-xs); /* Reduce padding */
  margin-left: 0rem;
}