.wrapper {
    padding: calc(var(--mantine-spacing-xl) * 2) var(--mantine-spacing-xl);
    background-color: var(--mantine-color-dark-5);
    color: white;
    border-radius: 50px;
  }

  .button {
    background-color: var(--mantine-color-pink-5);
    color: white;
  }
  
  .title {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-size: rem(36px);
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: var(--mantine-spacing-md);
    /* color: light-dark(var(--mantine-color-black), var(--mantine-color-white)); */
    color: white;
  }