/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/dashboard/FeaturesTitle/FeaturesTitle.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.FeaturesTitle_wrapper__XlzGd {
    padding: calc(var(--mantine-spacing-xl) * 2) var(--mantine-spacing-xl);
    background-color: var(--mantine-color-dark-5);
    color: white;
    border-radius: 50px;
  }

  .FeaturesTitle_button___LJkx {
    background-color: var(--mantine-color-pink-5);
    color: white;
  }
  
  .FeaturesTitle_title__pLJFc {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-size: calc(2.25rem * var(--mantine-scale));
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: var(--mantine-spacing-md);
    /* color: light-dark(var(--mantine-color-black), var(--mantine-color-white)); */
    color: white;
  }
/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/HeaderMegaMenu/HeaderMegaMenu.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.HeaderMegaMenu_header__uJM_q {
	height: calc(3.75rem * var(--mantine-scale));
	padding-left: var(--mantine-spacing-md);
	padding-right: var(--mantine-spacing-md);
	border-bottom: calc(0.0625rem * var(--mantine-scale)) solid
		var(--mantine-color-gray-3);
	/* padding-bottom: 0px;
	margin-bottom: 0; Reduced bottom margin rem(-1000px) */
}
	[data-mantine-color-scheme='dark'] .HeaderMegaMenu_header__uJM_q {
	border-bottom: calc(0.0625rem * var(--mantine-scale)) solid
		var(--mantine-color-dark-4);
}

.HeaderMegaMenu_link__2QgdT {
	display: flex;
	align-items: center;
	height: 100%;
	padding-left: var(--mantine-spacing-md);
	padding-right: var(--mantine-spacing-md);
	text-decoration: none;
	color: var(--mantine-color-black);
}

[data-mantine-color-scheme='dark'] .HeaderMegaMenu_link__2QgdT {
	color: var(--mantine-color-white);
}

.HeaderMegaMenu_link__2QgdT {
	font-weight: 500;
	font-size: var(--mantine-font-size-sm);
}

@media (max-width: 48em) {

.HeaderMegaMenu_link__2QgdT {
		height: calc(2.625rem * var(--mantine-scale));
		width: 100%
}
	}

@media (hover: hover) {
	.HeaderMegaMenu_link__2QgdT:hover {
		background-color: var(--mantine-color-gray-0);
	}
		[data-mantine-color-scheme='dark'] .HeaderMegaMenu_link__2QgdT:hover {
		background-color: var(--mantine-color-dark-6);
	}
}

@media (hover: none) {
	.HeaderMegaMenu_link__2QgdT:active {
		background-color: var(--mantine-color-gray-0);
	}
		[data-mantine-color-scheme='dark'] .HeaderMegaMenu_link__2QgdT:active {
		background-color: var(--mantine-color-dark-6);
	}
}

.HeaderMegaMenu_subLink__IOcBD {
	width: 100%;
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
	border-radius: var(--mantine-radius-md);
}

@media (hover: hover) {
	.HeaderMegaMenu_subLink__IOcBD:hover {
		background-color: var(--mantine-color-gray-0);
	}
		[data-mantine-color-scheme='dark'] .HeaderMegaMenu_subLink__IOcBD:hover {
		background-color: var(--mantine-color-dark-7);
	}
}

@media (hover: none) {
	.HeaderMegaMenu_subLink__IOcBD:active {
		background-color: var(--mantine-color-gray-0);
	}
		[data-mantine-color-scheme='dark'] .HeaderMegaMenu_subLink__IOcBD:active {
		background-color: var(--mantine-color-dark-7);
	}
}

.HeaderMegaMenu_dropdownFooter__LEzTP {
	background-color: var(--mantine-color-gray-0);
}

[data-mantine-color-scheme='dark'] .HeaderMegaMenu_dropdownFooter__LEzTP {
	background-color: var(--mantine-color-dark-7);
}

.HeaderMegaMenu_dropdownFooter__LEzTP {
	margin: calc(var(--mantine-spacing-md) * -1);
	margin-top: var(--mantine-spacing-sm);
	border-top: calc(0.0625rem * var(--mantine-scale)) solid
		var(--mantine-color-gray-1);
}

/* padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2); */

/* padding-bottom: var(--mantine-spacing-xl); */

[data-mantine-color-scheme='dark'] .HeaderMegaMenu_dropdownFooter__LEzTP {
	border-top: calc(0.0625rem * var(--mantine-scale)) solid
		var(--mantine-color-dark-5);
}

