.container {
	display: flex; /* Use flexbox */
	justify-content: left; /* Align content to the right */
	width: 50%; /* Full width */
	margin-right: -200px;
}

.outfitGeneration {
	display: flex; /* Use flexbox */
	justify-content: right; /* Align content to the right */
	width: 50%; /* Full width */
	margin-left: -200px;
}

.inputGroup {
	border-radius: 50px;
	justify-content: left;
	width: 100%; /* Take up half the page */
	padding: 30px 70px 30px 40px; /* Optional padding for aesthetics */
	background-color: var(--mantine-color-dark-5);
}

.root {
	position: relative;
}

.input {
	height: rem(54px);
	padding-top: rem(18px);
	margin: 20px 20px 20px 0;
}

.input:focus {
	border-color: var(--mantine-color-pink-6); /* Change border color on focus */
}

.label {
	position: absolute;
	pointer-events: none;
	font-size: var(--mantine-font-size-xs);
	padding-left: rem(10px);
	padding-top: calc(var(--mantine-spacing-sm) / 2);
	z-index: 1;
}

.header {
	padding-bottom: var(--mantine-spacing-md);
	margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
	border-bottom: rem(1px) solid var(--mantine-color-dark-7);
}

.version {
	background-color: var(--mantine-color-dark-7);
	color: var(--mantine-color-pink-6);
}
